
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-font: 'Source Sans Pro', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --third-font-color:#2f3640;
    --body-font-color: #f3f6f9;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #12a3b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}
html {
    font-family: var(--body-font);
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-font-color);
}
.container{
    width: 80%;
    max-width: 122.5rem;
    margin-left:  auto;
    padding: 0 .5rem;
}
img{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
}
section.content{
    padding: 1rem 0;

}
/*Login*/
.body-login{
    min-height: 100vh;
    background: linear-gradient(120deg,#3498db,#8e44ad);
}
.login-form{
    width: 360px;
    background: var(--body-font-color);
    height: 58rem;
    padding: 8rem 4rem;
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login-form h1{
    text-align: center;
    margin-bottom: 6rem;
}
.login-form h3{
    margin-bottom: 2rem;
}
.login-form .select select{
    appearance: none;
    outline: none;
    box-shadow: none;
    background:linear-gradient(120deg,#3498db,#8e44ad);
    border: none;
    width: 100%;
    height: 100%;
    padding-right: .5em;
    color: #fff;
    letter-spacing: .8px;
    cursor: pointer;
}
.login-form .select{
    position: relative;
    display: block;
    background: linear-gradient(120deg,#3498db,#8e44ad);;
    overflow: hidden;
    line-height: 3;
    border-radius: .25em;
}
.login-form .select::after{
    content: '\25bc';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    pointer-events: none;
    transition: .5s;
}
.login-form .select:hover::after{
    color: #31a3e4;
}
.login-form .txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 3rem 0;
}
.login-form .txtb input{
    font-size: 1.5rem;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 .5rem;
    height: 4rem;
  
}
.login-form .txtb span::before{
    content: attr(data-placehoder);
    position: absolute;
    top: 50%;
    left: .5rem;
    color: #adadad;
    transform: translateY(-50%);
    transition: .5s;
    z-index: -1;
}
.login-form .txtb span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    transition: .5s;
    left: 0;
    bottom:-2px;
}
.login-form .txtb:hover span::after,
.login-form .txtb:focus-within span::after{
    width: 100%;
}
.login-form .txtb:focus-within span::before{
    top: 0%;
}
.logbtn{
    display: block;
    width: 100%;
    height: 5rem;
    border: none;
    background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
    background-size: 200%;
    outline: none;
    cursor: pointer;
    color: #fff;  
    transition: .5s;
}
.logbtn:hover{
    background-position: right;
}
.bottom-text{
    margin-top: 2rem;
    text-align: center;
}
.bottom-text a{
    color: var(--main-font-color-dark);
    transition: .3s;
}
.bottom-text a:hover{
    color: #8e44ad;
    font-weight: 600;
}
/*Header*/

nav {
    background-color: white;
   line-height: 8rem;
   /* position: fixed; */
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:0 2.4rem;
   min-height: 100%;
   height: 66px;
   border-bottom: 1px solid #dee2e6;
}
nav label{
    line-height: 8rem;
    font-size: 3rem;
    color:var(--secondary-font-color);
    cursor: pointer;
}
.btn{
    line-height: 8rem;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    background-color: var(--secondary-font-color);
    padding: 6px 15px;
    border-radius: 0.3rem;
}
nav ul li a:hover{
    transition: 0.5s;
}
.slide-menu{
     position: absolute;
     top: 0;
     background-color: var(--main-font-color-dark);
     width: 20%;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
   
}
.slide-menu .admin {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #4b545c;
    padding: .8125rem .5rem;
}
.slide-menu center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: .8125rem .5rem;
    border-bottom: 1px solid #4b545c;
    line-height: 50px;
}
.slide-menu center img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid white;
  
}



.slide-menu center h2{
    color:var(--body-font-color);
}
.slide-menu .admin i{
    font-size: 3rem;
}
.slide-menu .admin img{
    max-height: 33px;
    width: auto;
}
.slide-menu a.list{
    padding-left: 30px;
    color: white;
    font-size: 1.5rem;
    line-height: 40px;
    
}
.slide-menu a span{
    margin-left: 10px;
    font-size: 1.5rem;
}
.slide-menu a.list:hover{
    transform: translateX(10%);
    font-weight: 600;
}
.slide-menu a.list:focus 
{
    background-color: var(--secondary-font-color);
   
    transition: .3s;
    font-weight: 600;
}
.slide-menu .log-out{
    display: none;
}
nav .menu-bar{
    display: none;
}
/*Content*/
section .box-info-group{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 2.4rem;
}
.box-info-group .box-info{
    background-color: var(--info);
    width: 23%;
    position: relative;
    height: 130px;
    border-radius: .5rem;
}
.box-info-group .box-info .inner{
    color: white;


    letter-spacing: .1rem;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    left: 3%;
}
.box-info-group .box-info .inner h3{
    font-size: 3.2rem;
    font-weight: 800;
}
.box-info-group .box-info .inner p{
    font-size: 2rem;
    font-weight: 100;
    padding-top: .5rem;
}
.box-info-group .box-info .icon{
    position: absolute;
    right: 5%;
    top:10%;
    font-size: 7rem;
    color:rgba(0,0,0,.15);
}
.box-info-group .box-info a{
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    padding: 0.3rem 0;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    text-align: center;
}
.box-info-group .box-info a i{
    padding-left: 1rem;
}
/*Teacher*/
.tab-nav{
    margin-top: 2rem;
}
.tab-nav ul{
    display: flex;
    font-size: 1.5rem;
}
.tab-nav .list li a{
    text-transform: uppercase;
    color: var(--main-font-color-dark);
    padding: 1rem 0;
    margin: 0 2.5rem;
    letter-spacing: 1.5px;
    font-weight: 600;
    transition: .3s;
}
.tab-nav .list li:hover a{
    border-bottom: 2px solid var(--secondary-font-color);
    color: var(--secondary-font-color);
}
.table-data-show .box{
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    padding-top: 1.5rem;
    border-top: 3px solid var(--third-font-color);
}
.table-data-show .box-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.table-data-show .box-nav .entries span{
    font-size: 1.6rem;
    padding: 0 1rem;
}
.table-data-show .box-nav .entries select{
    width: 4rem;
    outline: none;
}
.table-data-show .box-nav .search-box{
    background: var(--third-font-color);
    height: 4rem;
    border-radius: 4rem;

}
.table-data-show .box-nav .search-box:hover .search-txt{
    width: 20rem;
    padding: 0 6px;
}
.table-data-show .box-nav .search-box:hover .search-btn{
   background: white;
}
.table-data-show .box-nav .search-box .search-btn{
    color: #e84118;
    float: right;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--third-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.table-data-show .box-nav .search-box .search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 1.6rem;
    transition: .4s;
    line-height: 4rem;
    width: 0rem;
}
.content-table{
    border-collapse: collapse;
    margin: 2.5rem 0;
    font-size: 0.9rem;
    width: 90%;
    margin: 2.5rem auto;
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0,0,0,.15);
}
.content-table thead tr{
    background-color: var(--third-font-color);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}
.content-table tbody tr .btn-group{
    display: flex;
    justify-content: center;
}
.content-table tbody tr .btn-group i{
    padding: 0 .3rem;
}
.content-table tbody tr .btn-group i:hover{
    color: white;
}
.content-table th,
.content-table td{
    padding: 1.2rem 1.5rem;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    text-align: center;
}
.content-table tbody tr:nth-child(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:hover{
    background-color: var(--secondary-font-color);
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid var(--third-font-color);
}
@media screen and (max-width:850px){
    .slide-menu{
        height: 100%;
    }
    .slide-menu a span{
        display: none;
    }
    .slide-menu center{
        display: none;
    }
    .slide-menu a.list{
        line-height: 50px;
        font-size: 3rem;
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    nav{
        height: 70px;
        justify-content: center;
    }
    section ul li a.list,
    section ul li a.btn-logout{
        display: none;
    }
}
@media screen and (max-width:650px){
    .container{
        width: 100%;
    }
    nav ul{
        display: none;
    }
    .slide-menu{
        width: 100%;
        overflow-x: hidden;
    }
   
    .slide-menu .log-out,.slide-menu a span{
        display: initial;
        font-size: 15px;
    }
    .slide-menu a i{
        display: none;
    }
    .slide-menu {
        display: none;
    }
}   
